/* прибрати відступи елементів списку */
body {
background-color: rgb(218, 226, 252);
background-image: url('../src/bg-image.jpg');
background-size: cover;
background-repeat: no-repeat;
}

h1 {
    margin-top: 0;
}

ul {
    padding-left: 0;
  }

  
  /* прибрати традиційний маркер на початку списку */
  /* Крок 3 нижче тут */
  li {
    list-style-type: none;
    background-color: #eee;
    border: 1px solid #c3c3c3;
    padding: 10px 0px 10px 5px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
  }
  
.container {
    border: 2px solid blue;
    border-radius: 8px;
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgba(153, 153, 238, 0.9);
    
}

  /* Крок 5 нижче тут */
  .done {
    background-color: green;
  }
  
  .remove {
    background-color: red;
  }

  .important {
    background-color: lightblue;
  }
  /* позначити завдання як виконане */
  /* Крок 6 нижче тут */
  li.finished {
    color: white;
    background-color: gray;
    text-decoration: line-through;
  }
  
  input[type="text"] {
    font-size: 18px;
    width: 646px;
    padding: 10px;
  }
  
  input[type="button"] {
    font-size: 1.2em;
    margin: -6px 4px 0px 0px;
  }

  #addButton {
    padding: 10px;
    min-width: 100px;
  }
  
  /* Крок 10 нижче тут */
  .aboutcolor {
    background-color: yellow;
  }
  
  /* Крок 12 нижче тут */
  #divabout {
    width: 300px;
    margin-bottom: 15px;
  }

  #textabout {
    font-size: 20px;
    margin: 10px;
  }

  #aboutButton {
    padding: 10px;
    min-width: 100px;
  }

  #clearButton {
    padding: 10px;
    min-width: 100px;
  }