/* прибрати відступи елементів списку */
body {
background-color: rgb(218, 226, 252);
background-image: url('../src/bg-image.jpg');
background-size: cover;
background-repeat: no-repeat;
}

h1 {
    margin-top: 0;
}

ul {
    padding-left: 0;
  }

  
  /* прибрати традиційний маркер на початку списку */
  /* Крок 3 нижче тут */
  li {
    list-style-type: none;
    background-color: #eee;
    border: 1px solid #c3c3c3;
    padding: 10px 0px 10px 5px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
  }
  
.container {
    border: 2px solid blue;
    border-radius: 8px;
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgba(153, 153, 238, 0.9);
    
}

  /* Крок 5 нижче тут */
  .done {
    background-color: green;
    border: 1px solid rgb(1, 44, 1);
    border-radius: 4px;
  }

  .done:hover,
  .done:focus {
    background-color: rgb(2, 59, 2);
    color: white;
    cursor: pointer;
  }
  
  .remove {
    background-color: red;
    border: 1px solid rgb(54, 1, 1);
    border-radius: 4px;
  }

  .remove:hover,
  .remove:focus {
    background-color: rgb(77, 2, 2);
    color: white;
    cursor: pointer;
  }

  .important {
    background-color: lightblue;
    border: 1px solid rgb(3, 34, 44);
    border-radius: 4px;
  }

  .important:hover,
  .important:focus {
    background-color: rgb(4, 58, 77);
    color: white;
    cursor: pointer;
  }

  /* позначити завдання як виконане */
  /* Крок 6 нижче тут */
  li.finished {
    color: white;
    background-color: gray;
    text-decoration: line-through;
  }
  
  input[type="text"] {
    font-size: 18px;
    width: 646px;
    padding: 10.3px;
    border: 0;
    border-radius: 2px;
  }

  #input:hover,
  #input:focus {
    outline: 0;
    border-style: none;
    border-radius: 2px;
  }
  
  input[type="button"] {
    font-size: 1.2em;
    margin: -6px 4px 0px 0px;
  }

  #addButton {
    padding: 10px;
    min-width: 100px;
    border: 0;
    border-radius: 2px;
  }

  #addButton:hover,
  #addButton:focus {
    background-color: rgb(99, 58, 133);
    color: white;
    cursor: pointer;
    outline: 0;
    border-style: none;
    border-radius: 2px;
  }

  
  /* Крок 10 нижче тут */
  .aboutcolor {
    background-color: rgb(43, 3, 88);
  }
  
  /* Крок 12 нижче тут */
  #divabout {
    width: 300px;
    margin-bottom: 15px;
    border-radius: 4px;
  }

  #textabout {
    font-size: 20px;
    padding-left: 10px;
    color: white;
  }

  #aboutButton {
    padding: 10px;
    min-width: 100px;
    border: 0;
    border-radius: 2px;
  }

  #aboutButton:hover,
  #aboutButton:focus {
    background-color: rgb(99, 58, 133);
    color: white;
    cursor: pointer;
    outline: 0;
    border-style: none;
    border-radius: 2px;
  }

  #clearButton {
    padding: 10px;
    min-width: 100px;
    border-style: none;
    border-radius: 2px;
  }

  #clearButton:hover,
  #clearButton:focus {
    background-color: rgb(99, 58, 133);
    color: white;
    cursor: pointer;
    outline: 0;
    border-style: none;
    border-radius: 2px;
  }